  
    <td><%= item_form.remove_nested_fields_link "Delete", :class => 'btn btn-sm btn-danger' %></td>
    <td><%= item_form.text_field :name, :required => true %></td>
    <td><%= item_form.text_field :description %></td>
    <td><%= item_form.number_field :price, :required => true %></td>
