  
    <td><%= item_form.remove_nested_fields_link "", :class => 'btn btn-sm btn-danger glyphicon glyphicon-minus' %></td>
    <td><%= item_form.text_field :name, :required => true %></td>
    <td><%= item_form.text_field :description %></td>
    <td><%= item_form.number_field :price, :required => true %></td>
