<div class="maincontainer">
  <div class="title">
    <h3>Purchase list for [<%= @event.date.to_date %>] <%= @event.name %> @ <%= @event.location %></h3>
  </div>
<% @event.items.each do |item| %>
    <% if item.orderitems.sum(:quantity) > 0 %>
      <%= render "items/agg_item", :item => item, :quantity => item.orderitems.sum(:quantity) %>
    <% end %>
  <% end %>
</div>