<h3>Events</h3>
<table class="table">
<tr>
  <th>Date</th>
  <th>Event Name</th>
  <th>Event Location</th>
  <th></th>
</tr>
<% @events.each do |event| %>
<tr>
  <td><%= event.date.to_date %></td>
  <td><%= link_to event.name, :action => :show, :id => event.id %></td>
  <td><%= event.location %></td>
  <td>(Going/Not Going Button)</td>
</tr>
<% end %>
</table>