<h3>Events</h3>
<div id="no-more-tables">
  <table class="table">
  <thead>
    <th class="col-xs-2">Date</th>
    <th class="col-xs-4">Name</th>
    <th class="col-xs-2">Location</th>
    <th class="col-xs-4">Action</th>
  </thead>
  <% @events.each do |event| %>
    <%= render event, :event => event %>
  <% end %>
  </table>
</div>