<tr class="agg-item">
  <td class="hidden-xs"></td>
  <td data-title="Name"><%= link_to get_user_name(orderitem.order.user_id), order_path(orderitem.order.id) %></td>
  <td data-title="Notes"><%= orderitem.notes %>&nbsp</td>
  <td class="hidden-xs"></td>
  <td data-title="Quantity"><%= orderitem.quantity %></td>
  <td class="hidden-xs"></td>
  <td data-title="Purchased">
    <%= toggle_purchase_button orderitem %>
  </td>
</tr>