<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>Total</td>
  <td><%= get_order_total(order_id) %></td>
  <td>
    <% if order.isdelivered %>
    <%= link_to order_path(order.id, :toggle => "false"), :method => :put, :class => "btn btn-sm btn-success" do %><span class="glyphicon glyphicon-plane"></span><% end %>
    <% else %>
    <%= link_to order_path(order.id, :toggle => "true"), :method => :put, :class => "btn btn-sm btn-danger" do %><span class="glyphicon glyphicon-plane"></span><% end %>
    <% end %>
  </td>
</tr>